HOST_PORT=8787
ADMIN_PASSWORD=change-this-password
ADMIN_COOKIE_SECURE=false
OCR_CACHE_MAX_ITEMS=1200
OCR_CACHE_TTL_MINUTES=1440
QWEN_OCR_API_KEY=
QWEN_OCR_MODEL=qwen-vl-ocr-2025-11-20
QWEN_OCR_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_OCR_TIMEOUT_MS=60000
QWEN_OCR_MAX_TOKENS=4096
